<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_home') }}">Track my Games</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{ path('app_games') }}">All Games</a>
        <a class="nav-link" href="{{ path('app_developers') }}">All Developers</a>
                <a class="nav-link" href=""></a>
        <span class="badge rounded-pill bg-warning text-dark d-flex align-items-center">SOON</span>
        <a class="nav-link disabled" href="#">New Releases</a>
      </div>
    </div>
  </div>
</nav>