@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(180, 65, 84);
}

.card-overlay {
    background-color: rgba(0, 0, 0, 0.692);  
}

.card-overlay:hover {
    background-color: rgba(0, 0, 0, 0);  
}